[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#visa-explorer * {
	margin: 0;
	padding: 0;
}

#visa-explorer a, #visa-explorer a:visited {
	color: #f03e4d;
	text-decoration: none;
}

#visa-explorer a:hover {
	text-decoration: underline;
}

#visa-explorer .clearfix::after {
	content: '';
	display: block;
	clear: both;
}

#visa-explorer fieldset {
	border: 0;
}

#visa-explorer label {
  font-size: 100%;
}

#visa-explorer h3 {
	margin-bottom: 0.4em;
}

#visa-explorer {
	font-family: Arial, sans-serif;
	width: 478px;
	margin: 0 auto;
}

#visa-explorer .control-row {
	margin-bottom: 0.5em;
	padding-top: 0.5em;
}

#visa-explorer .control-row h2, #visa-explorer .control-row legend {
	font-weight: normal;
	margin-bottom: 0.5em;
}

#visa-explorer .control-item-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#visa-explorer input, #visa-explorer select {
	padding: 0.2em;
}

#visa-explorer button:disabled {
	visibility: hidden;
}

#visa-explorer #search-sponsors-input {
	width: 100%;
	margin-top: 0;
	font-size: 1.25em;
}

#visa-explorer .input-clear {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

#visa-explorer .clear-button {
	padding: 0.2em;
	margin: 0 0.4em;
	font-size: 1.25em;
	line-height: 0;
	height: 25px;
}

#visa-explorer .sponsor-filters {
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

#visa-explorer .sponsor-filter {
	width: 50%;
}

#visa-explorer .sponsor-filter select {
	width: 100%;
}

#visa-explorer .sponsor-filter h3 {
	margin-top: 0.5em;
}

#sponsors-list {
	display: none;
	margin-top: 1em;
}

#visa-explorer #sponsors-loading-mask {
	width: 100%;
	background-color: white;
	z-index: 9999;
	height: 100%;
	text-align: center;
}

#visa-explorer #sponsors-loading-mask::after {
	content: ' ';
	position: relative;
	display: block;
	margin: 2em auto;
	height: 2em;
	width: 2em;
	animation: rotate 0.8s infinite linear;
	border: 8px solid #4db8e4;
	border-right-color: transparent;
	border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

#visa-explorer .sponsors-loading-msg {
	margin-top: 1.5em;
	font-size: 1.5em;
	font-weight: bold;
	color: #4db8e4;
}

#visa-explorer .sponsors-list-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
	padding: 0.5em;
	background-color: #ececec;
}

#visa-explorer .results-msg {
	width: 33%;
}

#visa-explorer .sort-controls-container {
	width: 67%;
}

#visa-explorer .sort-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
			justify-content: flex-end;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
}

#visa-explorer .sort-controls input {
	margin-left: 1em;
}

#visa-explorer .sort-controls select {
	margin-left: 0.5em;
}

#visa-explorer .sort-controls label {
	margin-left: 0.2em;
}

#visa-explorer .sort-order-radios {
	margin-right: 0.5em;
}

#visa-explorer .sort-order-radio:first-child {
	margin-top: 0.2em;
	margin-bottom: 0.6em;
}

#visa-explorer .showAll-button {
	margin-top: 0.4em;
}

#visa-explorer .sponsor-list-item {
	border-top: 2px solid #ececec;
	margin-bottom: 0.75em;
	padding-top: 1em;
}

#visa-explorer a.filter-link {
	display: block;
	padding: 0.5em;
	color: #000;
	font-weight: bold;
	border-radius: 5px;
	font-size: 75%;
	cursor: pointer;
}
#visa-explorer a.filter-link:visited {
	color: #000;
}
#visa-explorer .sponsor-location a.filter-link {
	background-color: #92d595;
}
#visa-explorer .sponsor-visaType a.filter-link {
	background-color: #fabb80;
}
#visa-explorer .sponsor-sectors a.filter-link {
	background-color: #69c5e9;
}
#visa-explorer .sponsor-index a.filter-link {
	background-color: #bfa6d0;
}
#visa-explorer .sponsor-location a.filter-link:hover {
	background-color: #7ccc80;
	text-decoration: none;
}
#visa-explorer .sponsor-visaType a.filter-link:hover {
	background-color: #f9ab63;
	text-decoration: none;
}
#visa-explorer .sponsor-sectors a.filter-link:hover {
	background-color: #4db8e4;
	text-decoration: none;
}
#visa-explorer .sponsor-index a.filter-link:hover {
	background-color: #b192c5;
	text-decoration: none;
}

#visa-explorer .sponsor-visaType {
	min-width: 95px;
}

#visa-explorer .sponsor-index {
	min-width: 80px;
}

#visa-explorer .sponsor-headings {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
	margin-bottom: 1em;
}

#visa-explorer .sponsor-headings .sponsor-name {
	width: 100%;
	font-weight: bold;
}

#visa-explorer .sponsor-social-media-list {
	width: 75px;
	list-style: none;
	margin-left: 0.5em;
}

#visa-explorer .sponsor-social-media-list-item {
	float: right;
	text-align: right;
	margin-left: 0.3em;
}

#visa-explorer .sponsor-social-media-logo.logo-twitter {
	width: 30px;
}

#visa-explorer .sponsor-social-media-logo.logo-linkedin {
	width: 35.5px;
}

#visa-explorer .sponsor-categories-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
}

#visa-explorer .sponsor-categories {
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	border-left: 2px solid #ececec;
	padding: 0 0.75em;
}

#visa-explorer .sponsor-sectors {
	padding-right: 0.2em;
	min-width: 120px;
}

#visa-explorer .sponsor-categories:first-child {
	padding-left: 0;
	border: 0;
}

#visa-explorer .sponsor-categories:last-child {
	padding-right: 0;
	margin-right: 0;
}

#visa-explorer .sponsor-category-list {
	list-style: none;
	font-size: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}

#visa-explorer .sponsor-category-list-item {
	display: block;
	-webkit-box-flex: 2;
		-ms-flex-positive: 2;
			flex-grow: 2;
	margin-right: 0.6em;
	margin-bottom: 0.5em;
}

#visa-explorer .sponsor-index-list-item {
	margin-right: 0;
}

#visa-explorer .category-list-heading {
	margin-bottom: 0.75em;
	font-weight: bold;
	font-size: 95%;
	color: #444;
}

#visa-explorer .sponsor-sectors .category-list-heading {
	margin-right: 0.6em;
}

#visa-explorer .visa-restrictions-row {
	margin-top: 0.5em;
	font-size: 90%;
}

#visa-explorer .visa-restrictions {
	padding: 0.5em;
	padding-left: 0.6em;
	background-color: #fde5ce;
	display: block;
}

#visa-explorer .visa-warning-text {
	display: table-cell;
	vertical-align: middle;
}

#visa-explorer .visa-warning-icon {
	color: #f9ab63;
	font-size: 125%;
	padding-right: 0.5em;
	display: table-cell;
	position: relative;
	top: -3px;
	vertical-align: middle;
}

#visa-explorer .sponsor-info-row {
	margin-top: 0.5em;
	background-color: #ececec;
	padding: 0.5em;
}

#visa-explorer .sponsor-info-box {
	margin-bottom: 0.75em;
}

#visa-explorer .sponsor-info-box:last-child {
	margin-bottom: 0;
}